div {
  height: 300px;
  width: 500px;
  border: 1px solid black;
}

.block {
  float: left;
  height: 100px;
  width: 100px;
  margin: 0;
}

 .red {
   background: red;
 }

 .blue {
   background: blue;
 }

 .yellow {
   background: yellow;
 }

 .purple {
   background: purple;
 }

 .green {
   background: green;
 }
